$color-white: #fff;
$color-orange: #f96332;
$color-orange-light: #f9762e;
$color-form-input: rgba(255, 255, 255, .22);

@font-face {
  font-family: Montserrat;
  font-weight: normal;
  src: url('../../fonts/Montserrat-Light.otf');
}

@font-face {
  font-family: Montserrat;
  font-weight: bold;
  src: url('../../fonts/Montserrat-Regular.otf');
}

body {
  background-image: url('../../images/back_mobile.jpg');
  background-size: cover;
  font-family: Montserrat;
}

.main-container {
  text-align: center;

  .logo {
    background-image: url('../../images/logo.png');
    background-size: 100% 100%;
    display: inline-block;
    height: 115px;
    margin-top: 27%;
    width: 112px;
  }

  %rounded {
    border-radius: 28px;
  }

  .wrapper {
    bottom: 10px;
    left: 0;
    padding: 0 12px;
    position: absolute;
  }
}

.form {
  width: 100%;

  input {
    @extend %rounded;

    border: 0;
    box-sizing: border-box;
    color: $color-white;
    font-size: 11pt;
    height: 55px;
    line-height: 55px;
    margin: 7px 0;
    padding: 0 15px;
    width: 100%;

    &[type=text],
    &[type=password] {
      background-color: $color-form-input;
      background-image: url('../../images/icon_login.png');
      background-position: 18px 15px;
      background-repeat: no-repeat;
      background-size: 26px 26px;
      padding-left: 60px;
    }

    &::-webkit-input-placeholder {
      color: $color-white;
    }

    &[type=submit] {
      background-color: $color-orange;
      cursor: pointer;
      font-weight: bold;
    }

    &[type=submit]:hover {
      background-color: $color-orange-light;
    }

  }

  a {
    color: $color-white;
    font-size: 9pt;
    margin-top: 18px;
    opacity: .5;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.help {
      float: right;
    }

    &.register {
      float: left;
    }
  }
}

@media (min-width: 700px) {
  @import 'tablets';
}

@media (min-width: 1200px) {
  @import 'desktops';
}
