body {
  background-image: url('../../images/back_tablets.jpg');
}

.main-container {
  .logo {
    margin-top: 150px;
  }

  .wrapper {
    bottom: 80px;
    left: 50%;
    padding: 0;
  }

  .form {
    margin-left: -50%;
    max-width: 350px;
  }
}
